.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Bearclaw
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/') Home
        else
          li.nav-item(class=(title === 'My scrapes') ? 'active' : undefined)
            a.nav-link(href='/') Scrapes
        li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
        li.nav-item(class=(title === 'About') ? 'active' : undefined)
          a.nav-link(href='/about') About
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.nav-item(class=(title === 'How To') ? 'active' : undefined)
            a.nav-link(href='/how-to') How To Use
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
